/**
 * CSS to set global settings and scrollbars.
 *
 * All else is handled with CSS in JS inside the UI folder.
 */
* {
  font-family: "Raleway", sans-serif;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #4d4d4d;
}

body::-webkit-scrollbar-track {
  background: transparent;
}
